
// Colors
$white: hsl(0, 0%, 100%);
$blue-background: hsl(230, 100%, 99%);
$blue-empty-bar: hsl(224, 65%, 95%);
$blue-switch-bg: hsl(223, 50%, 87%);
$blue-text: hsl(225, 20%, 60%);
$blue-btn-bg: hsl(227, 35%, 25%);

$cyan-bar: hsl(174, 77%, 80%);
$cyan-slider: hsl(174, 86%, 45%);
$red-discount-bg: hsl(14, 92%, 95%);
$red-discount-text: hsl(15, 100%, 70%);
$blue-btn-text: hsl(226, 100%, 87%);


// Padding and Margin
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xlg: 35px;


// Transition
$transition: all .2s ease-in;


// Font Weight
$semiBold: 600;
$extraBold: 800;